body{
  font-family:sans-serif;
}
.info
{
  font-style: italic;
  list-style: none;
}

strong
{
  font-style: normal;
}

table, th, td
{
  border: 2px solid black;
  border-collapse: collapse;
 }

td{
  padding: 10px;
}

img{
  max-width: 75%;
  height:auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
